{% load i18n %}
<button type="button"
        class="flex w-full cursor-pointer items-center gap-3 px-4 py-2 text-sm transition hover:bg-gray-200 focus:outline-none dark:hover:bg-gray-700"
        aria-haspopup="true"
        aria-expanded="false"
        data-open-panel="language"
        data-dropdown-button>
    <svg class="h-5 w-5 shrink-0">
        <use href="#language-switcher"></use>
    </svg>
    <!-- Current Language -->
    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'en' %}
        English
    {% elif LANGUAGE_CODE == 'mn' %}
        Монгол
    {% else %}
        {{ LANGUAGE_CODE|upper }}
    {% endif %}
    <svg class="ml-auto h-4 w-4">
        <use href="#chevron-right"></use>
    </svg>
</button>
