{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<div data-panel="language" class="hidden">
    {% include "includes/user/back_menu_button.html" %}
    {% include "includes/user/menu_divider.html" %}
    <form method="post" action="{% url 'set_language' %}" class="w-full">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.get_full_path }}" />
        <button type="submit"
                name="language"
                value="en"
                class="{% if LANGUAGE_CODE == 'en' %}font-bold text-gray-600 dark:text-gray-400{% endif %} block w-full cursor-pointer px-4 py-2 text-left text-sm hover:bg-gray-100 dark:hover:bg-gray-700">
            {% trans 'English' %}
        </button>
        <button type="submit"
                name="language"
                value="mn"
                class="{% if LANGUAGE_CODE == 'mn' %}font-bold text-gray-600 dark:text-gray-400{% endif %} block w-full cursor-pointer px-4 py-2 text-left text-sm hover:bg-gray-100 dark:hover:bg-gray-700">
            {% trans 'Mongolian' %}
        </button>
    </form>
</div>
