{% load i18n %}
<form method="get" aria-labelledby="wagon-list-title">
    <input type="hidden" name="group" value="{{ group|default:'detail' }}" />
    {% include "includes/filters/filter_toggle.html" with toggle_id="wagon-filters-toggle" panel_id="wagon-filters-panel" %}
    <div id="wagon-filters-panel"
         class="fixed inset-x-0 bottom-0 z-50 hidden max-h-[80vh] translate-y-full overflow-y-auto rounded-t-2xl bg-white p-4 shadow-2xl transition-transform duration-200 lg:static lg:block lg:max-h-none lg:translate-y-0 lg:rounded-none lg:p-0 lg:shadow-none dark:bg-gray-900">
        <div class="flex flex-col gap-2 md:flex-row">
            {% include "includes/filters/filter_input.html" with id="id_wagon_number" label=_("Wagon Number") name="wagon_number" value=request.GET.wagon_number %}
            {% include "includes/filters/filter_select.html" with id="id_type_wagon" label=_("Wagon Type") name="type_wagon" choices=type_wagons selected=request.GET.type_wagon empty_label=_("Wagon Types") %}
            {% if month_group %}
                {% include "includes/filters/filter_month.html" with id="id_month_period" label=_("Month/Year") name="month_period" value=month_period %}
            {% else %}
                {% include "includes/filters/filter_input.html" with id="id_work" label=_("Work") name="work" type="text" value=request.GET.work placeholder=_("Work Name") %}
                {% include "includes/filters/filter_select.html" with id="id_type_work" label=_("Work Type") name="type_work" choices=type_works selected=request.GET.type_work empty_label=_("Work Types") %}
                {% include "includes/filters/filter_date_range.html" with id="id_range_date" label=_("Date Range") name="range_date" type="text" value=request.GET.range_date %}
            {% endif %}
            {% include "includes/filters/filter_button.html" %}
        </div>
    </div>
</form>
