{% load i18n %}
<td class="{{ col_class_hidden }}">{{ forloop.counter0|add:page_obj.start_index }}</td>
<td class="{{ col_class }}">
    {% include "includes/table/mobile_summary.html" with col_name=material.work__work_name details_template="material/material_table/material_table_mobile_details.html" %}
</td>
<td class="{{ col_class_hidden }}">{{ material.work__work_name }}</td>
<td class="{{ col_class_hidden }}">{{ material.amount_material|floatformat:2 }}</td>
<td class="{{ col_class }}">{{ material.work_date|date:"Y-m-d" }}</td>
