{% extends "forms/update_form.html" %}
{% block title %}Update Daily Salary{% endblock %}
{% block form_fields %}
  <fieldset class="space-y-4">
    <legend class="sr-only">Update Daily Salary Details</legend>
    {% include "includes/form/form_input.html" with id=form.hours_per_day.id_for_label label=_("Hours") name="hours_per_day" type="number" value=form.hours_per_day.value form_errors=form.hours_per_day min=form.hours_per_day.field.widget.attrs.min max=form.hours_per_day.field.widget.attrs.max required=True %}
    {% include "includes/form/form_date.html" with id=form.salary_date.id_for_label label=_("Date") name="salary_date" type="text" value=form.salary_date.value|date:"Y-m-d" form_errors=form.salary_date required=True %}
  </fieldset>
{% endblock %}
