{% extends "forms/create_form.html" %}
{% load i18n %}
{% block title %}Create Daily Salary{% endblock %}
{% block form_fields %}
    <fieldset class="space-y-2 md:space-y-4">
        <legend class="sr-only">Create Daily Salary Details</legend>
        {% if employees %}
            <div class="mb-1 space-y-2 md:mb-4 md:space-y-4">
                {% include "includes/form/form_date.html" with id="salary_date" label=_("Date") name="salary_date" type="text" value=salary_date|default:today|date:'Y-m-d' form_errors=form.salary_date required=True hide_label_mobile=True placeholder=_("Date") %}
                {% include "includes/form/form_input.html" with id="hours_per_day" label=_("Hours") name="hours_per_day" type="number" value=hours_per_day|default:11 form_errors=form.hours_per_day  min=form.hours_per_day.field.widget.attrs.min max=form.hours_per_day.field.widget.attrs.max required=True hide_label_mobile=True placeholder=_("Hours") %}
                {% include "includes/create_table/create_table_filters.html" with toggle_id="employee-search-filters-toggle" panel_id="employee-search-filters-panel" fields_template="includes/create_table/employees/employees_filter_fields.html" %}
            </div>
            {% include "includes/create_table/employees/employees_create_table.html" %}
            {% include "includes/summaries/selected_summary.html" with summary_id="selected-employees-summary" details_id="selected-employees-details" list_id="selected-employees-list" count_id="selected-employees-count" label_id="selected-employees-label" %}
        {% else %}
            {% include "includes/alerts/info_notice.html" with info_text_template="includes/alerts/info_text_daily_salary.html" %}
        {% endif %}
    </fieldset>
    <div class="flex flex-col gap-2 sm:flex-row">
        {% include "includes/buttons/cancel_button.html" %}
        {% include "includes/buttons/save_button.html" with disable_if_no_employees=1 %}
    </div>
    {% include "daily_salary/scripts.html" %}
{% endblock %}
