{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
    <h2 id="form-title"
        class="mb-6 hidden text-xl font-semibold text-gray-700 md:block dark:text-gray-400">
        {% trans "New" %} {% trans object_type %} ({{ selected_department }})
    </h2>
    <header class="mb-6 flex items-center justify-between md:hidden">
        <div class="md:hidden">{% include "includes/buttons/mobile_cancel_button.html" %}</div>
    </header>
    {% include "includes/form/form_errors.html" %}
    <form method="post"
          class="relative rounded-md border border-gray-100 bg-white p-6 shadow-md dark:border-gray-700 dark:bg-gray-800"
          id="createForm"
          aria-labelledby="form-title">
        {% csrf_token %}
        {% if employees %}
            <!-- Fields -->
            <div class="mb-1 space-y-2 md:mb-4 md:space-y-4">
                {% include "includes/form/form_date.html" with id="salary_date" label=_("Date") name="salary_date" type="text" value=salary_date|default:today|date:'Y-m-d' form_errors=form.salary_date required=True hide_label_mobile=True placeholder=_("Date") %}
                {% include "includes/form/form_input.html" with id="hours_per_day" label=_("Hours") name="hours_per_day" type="number" value=hours_per_day|default:11 form_errors=form.hours_per_day  min=form.hours_per_day.field.widget.attrs.min max=form.hours_per_day.field.widget.attrs.max required=True hide_label_mobile=True placeholder=_("Hours") %}
                <!-- Filters -->
                {% include "includes/select_table/employee_search_filters.html" %}
            </div>
            <!-- Employee Table -->
            {% include "includes/select_table/employees_select_table.html" with employees=employees max_height="max-h-126" aria_desc="daily-salary-list-title" %}
        {% else %}
            <!-- Info notice when no employees -->
            <div class="mb-4 rounded-md border-l-4 border-yellow-400 bg-yellow-50 p-3 shadow-sm dark:border-yellow-600 dark:bg-yellow-500/20">
                <p class="text-sm text-yellow-800 dark:text-yellow-400">
                    {% blocktrans trimmed %}
                        <strong>No employee profiles found.</strong>
                        <br />
                        Please <strong>create profiles</strong> to get started.
                    {% endblocktrans %}
                </p>
            </div>
        {% endif %}
        <!-- Selected summary section -->
        {% include "includes/summaries/selected_summary.html" with summary_id="selected-employees-summary" details_id="selected-employees-details" list_id="selected-employees-list" count_id="selected-employees-count" label_id="selected-employees-label" %}
        <!-- Form Buttons -->
        <div class="mt-6 flex flex-col gap-2 sm:flex-row">
            {% include "includes/buttons/cancel_button.html" %}
            {% include "includes/buttons/save_button.html" with disable_if_no_employees=1 %}
        </div>
    </form>
    <!-- JS Script -->
    {% include "daily_salary/scripts.html" %}
{% endblock %}
