{% load i18n %}
{% if perms.employee.view_dailysalary %}
    {% include "includes/filters/filter_input.html" with id="id_employee_code" label=_("Employee ID") name="employee_code" type="number" value=request.GET.employee_code min="1" %}
    {% include "includes/filters/filter_input.html" with id="id_employee_name" label=_("Employee Name") name="employee_name" value=request.GET.employee_name %}
    {% include "includes/filters/filter_select.html" with id="id_job_title" label=_("Job Title") name="job_title" choices=job_titles selected=request.GET.job_title empty_label=_("Positions") %}
{% endif %}
{% include "includes/filters/filter_date.html" with id="id_salary_date" label=_("Date") name="salary_date" type="text" value=request.GET.salary_date %}
{% if perms.employee.view_record_audit %}
    {% include "includes/filters/filter_date.html" with id="id_record_date" label=_("Record Date") name="record_date" type="text" value=request.GET.record_date %}
{% endif %}
