# Python
__pycache__
__pycache__/
*__pycache__/
**/__pycache__/
**/__pycache__/**

*.py[cod]
*.pyo
*.pyd
*.pyc

build/
*.egg-info/
.eggs/

# Ignore distribution files
dist/
# Exclude static files from being ignored
#!static/dist/
#!static/dist/**

# VS Code
.vscode/
.history/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.*
*.env
.venv
*.venv
env/
venv/
ENV/

# Database
*.sqlite3
*.sqlite3_*
*.db
*.sql
*.session*
*.session.sql

# Coverage
htmlcov/
.coverage
coverage.xml
*.cover

# Misc
*.bak
*.swp
*.tmp

# Static files
staticfiles/
*staticfiles/*/
**/staticfiles/**

# Other
*.py_*
*.html_*
*.js_*
*.css_*
*.txt_*

