{
  "plugins": ["prettier-plugin-jinja-template", "prettier-plugin-tailwindcss"],
  "tabWidth": 2,
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "jinja-template",
        "printWidth": 119
      }
    }
  ]
}
