argon2-cffi
arrow
asgiref
binaryornot
certifi
chardet
charset-normalizer
click
colorama
cookiecutter
diff-match-patch
djlint==1.44.2
Django~=5.2
django-allauth[mfa]
django-appconf
django-axes
django-browser-reload
django-crispy-forms
django-csp
django-debug-toolbar
django-import-export
django-select2
django-simple-history
django-environ
django-unfold
django-vite
et_xmlfile
factory-boy
gunicorn
idna
Jinja2
markdown-it-py
MarkupSafe
mdurl
mysqlclient
numpy
openpyxl
packaging
pandas
pillow
pre-commit
Pygments
pytest
pytest-django
python-dateutil
python-slugify
pytz
PyYAML
rcssmin
reportlab
requests
rich
rjsmin
ruff==0.16.3
sentry-sdk
six
sqlparse
tablib
text-unidecode
types-python-dateutil
tzdata
urllib3
whitenoise
xlsxwriter