argon2-cffi
arrow
asgiref
binaryornot
certifi
chardet
charset-normalizer
click
colorama
cookiecutter
diff-match-patch
Django~=5.2
django-allauth[mfa]
django-appconf
django-axes
django-crispy-forms
django-csp
django-import-export
django-select2
django-simple-history
django-environ
django-unfold
django-vite
et_xmlfile
gunicorn
idna
Jinja2
markdown-it-py
MarkupSafe
mdurl
mysqlclient
numpy
openpyxl
packaging
pandas
pillow
Pygments
python-dateutil
python-slugify
pytz
PyYAML
rcssmin
reportlab
requests
rich
rjsmin
sentry-sdk
six
sqlparse
tablib
text-unidecode
types-python-dateutil
tzdata
urllib3
whitenoise
xlsxwriter
