argon2-cffi
asgiref
certifi
charset-normalizer
diff-match-patch
Django~=5.2
django-allauth[mfa]
django-appconf
django-axes
django-crispy-forms
django-csp
django-import-export
django-select2
django-simple-history
django-environ
django-unfold
django-vite
gunicorn
mysqlclient
openpyxl
packaging
pillow
reportlab
sentry-sdk
sqlparse
tablib
tzdata
urllib3
whitenoise
xlsxwriter
