{% load i18n %}
<div class="mb-1 flex flex-row items-center justify-end md:mb-0 md:justify-start">
    {% include "includes/filters/filter_toggle.html" with toggle_id=toggle_id panel_id=panel_id %}
    <div id="{{ panel_id }}"
         class="fixed inset-x-0 bottom-0 z-50 hidden max-h-[80vh] translate-y-full overflow-y-auto rounded-t-2xl bg-white p-4 shadow-2xl transition-transform duration-200 md:static md:inset-auto md:bottom-auto md:z-auto md:block md:max-h-none md:translate-y-0 md:rounded-none md:bg-inherit md:p-0 md:shadow-none dark:bg-gray-900 md:dark:bg-inherit">
        <div class="flex flex-col gap-2 md:flex-row">
            {% include fields_template %}
        </div>
    </div>
</div>