{% load i18n %}
{% if request.user.is_authenticated %}
    <div class="hidden w-full items-center justify-between px-4 lg:order-1 lg:flex lg:w-auto"
         id="navbar-menu">
        <ul class="mt-2 flex flex-wrap space-y-4 p-4 lg:mt-0 lg:items-center lg:space-y-0 lg:space-x-4 lg:p-0">
            <!-- Dropdown for Departments -->
            {% if not is_employee and not is_master %}
                {% include "includes/department/department_dropdown.html" %}
            {% endif %}
            <!-- Employee -->
            {% include "includes/navbar/menu_link.html" with url_name='employee_list' label=_('Employees') %}
            <!-- Work -->
            {% if not is_employee %}
                {% include "includes/navbar/menu_link.html" with url_name='work_list' label=_('Works') %}
            {% endif %}
            <!-- Daily Salary -->
            {% include "includes/navbar/menu_link.html" with url_name='daily_salary_list' label=_('Daily Attendance') %}
            <!-- Daily Work -->
            {% if not is_employee %}
                {% include "includes/navbar/menu_link.html" with url_name='daily_work_list' label=_('Daily Work') %}
            {% endif %}
            <!-- Piecework -->
            {% include "includes/navbar/menu_link.html" with url_name='piecework_list' label=_('Piecework') %}
            <!-- Salary -->
            {% include "includes/navbar/menu_link.html" with url_name='employee_salary_list' label=_('Salaries') %}
            <!-- Wagon -->
            {% if not is_employee %}
                {% include "includes/navbar/menu_link.html" with url_name='wagon_list' label=_('Wagons') %}
            {% endif %}
            <!-- Material -->
            {% if not is_employee and not is_master %}
                {% include "includes/navbar/menu_link.html" with url_name='material_list' label=_('Materials') %}
            {% endif %}
        </ul>
    </div>
{% endif %}
