{% load i18n %}

{% if request.user.is_authenticated %}
    <div class="hidden items-center justify-between w-full px-4 lg:flex lg:w-auto lg:order-1"
         id="navbar-menu">
        <ul class="flex flex-col p-4 mt-2 space-y-4 lg:flex-row lg:items-center lg:p-0 lg:mt-0 lg:space-y-0 lg:space-x-4">
            <!-- Dropdown for Departments -->
            {% if not is_employee and not is_master %}
                {% include "includes/department/department_dropdown.html" %}
            {% endif %}
            <!-- Employee -->
            {% include "includes/navbar/menu_link.html" with url_name='employee_list' label=_('Employee') %}
            <!-- Work -->
            {% if not is_employee %}
                {% include "includes/navbar/menu_link.html" with url_name='work_list' label=_('Work') %}
            {% endif %}
            <!-- Daily Salary -->
            {% include "includes/navbar/menu_link.html" with url_name='daily_salary_list' label=_('Daily Salary') %}
            <!-- Daily Work -->
            {% if not is_employee %}
                {% include "includes/navbar/menu_link.html" with url_name='daily_work_list' label=_('Daily Work') %}
            {% endif %}
            <!-- Piecework -->
            {% include "includes/navbar/menu_link.html" with url_name='piecework_list' label=_('Piecework') %}
            <!-- Salary -->
            {% include "includes/navbar/menu_link.html" with url_name='employee_salary_list' label=_('Salary') %}
            <!-- Wagon -->
            {% if not is_employee %}
                {% include "includes/navbar/menu_link.html" with url_name='wagon_list' label=_('Wagon') %}
            {% endif %}
            <!-- Material -->
            {% if not is_employee and not is_master %}
                {% include "includes/navbar/menu_link.html" with url_name='material_list' label=_('Material') %}
            {% endif %}
        </ul>
    </div>
{% endif %}
