{% load i18n %}
<div class="mt-6 flex gap-4">
    {% if not request.user.is_authenticated %}
        <a href="{% url 'login' %}"
           class="inline-flex w-full items-center gap-2 rounded-3xl bg-blue-700 px-4 py-2 font-medium text-white transition-colors hover:bg-blue-800 focus:ring-2 focus:ring-blue-300 sm:w-auto">
            {% trans 'Sign in' %}
        </a>
        <a href="{% url 'register' %}"
           class="inline-flex w-full items-center gap-2 rounded-3xl bg-gray-100 px-4 py-2 font-medium text-gray-700 transition-colors hover:bg-gray-200 focus:ring-2 focus:ring-gray-300 sm:w-auto dark:bg-gray-700 dark:text-gray-400 dark:hover:bg-gray-600 dark:focus:ring-gray-500">
            {% trans 'Register' %}
        </a>
    {% endif %}
</div>
