{% extends "forms/create_form.html" %}

{% block title %}Create Work{% endblock %}

{% block form_fields %}
<div class="form-group row mb-3">
  <label for="{{ form.department.id_for_label }}" class="col-sm-2 col-form-label">Department</label>
  <div class="col-sm-10">
    {{ form.department }}
  </div>
</div>
<div class="form-group row mb-3">
  <label for="work_name" class="col-sm-2 col-form-label">Work Name</label>
  <div class="col-sm-10">
    <input
      type="text"
      name="work_name"
      id="work_name"
      class="form-control{% if form.work_name.errors %} is-invalid{% endif %}"
      value="{{ form.work_name.value|default:'' }}"
      required
      aria-describedby="work_name_help{% if form.work_name.errors %} work_name_error{% endif %}"
      autocomplete="off"
    >
    {% include "partials/field_errors.html" with field=form.work_name %}
  </div>
</div>
<div class="form-group row mb-3">
  <label for="{{ form.type_material.id_for_label }}" class="col-sm-2 col-form-label">Type Material</label>
  <div class="col-sm-10">
    {{ form.type_material }}
  </div>
</div>
<div class="form-group row mb-3">
  <label for="{{ form.usage_material.id_for_label }}" class="col-sm-2 col-form-label">Usage Material</label>
  <div class="col-sm-10">
    {{ form.usage_material }}
    {% include "partials/field_errors.html" with field=form.usage_material %}
  </div>
</div>
<div class="form-group row mb-3">
  <label for="{{ form.standard_time.id_for_label }}" class="col-sm-2 col-form-label">Standard Time</label>
  <div class="col-sm-10">
    {{ form.standard_time }}
    {% include "partials/field_errors.html" with field=form.standard_time %}
  </div>
</div>
<div class="form-group row mb-3">
  <label for="{{ form.price.id_for_label }}" class="col-sm-2 col-form-label">Price</label>
  <div class="col-sm-10">
    {{ form.price }}
    {% include "partials/field_errors.html" with field=form.price %}
  </div>
</div>
{% endblock %}