{% extends "forms/update_form.html" %}

{% load i18n %}

{% block title %}Update Work{% endblock %}

{% block form_fields %}
  <fieldset class="space-y-4">
    <legend class="sr-only">Update Work Details</legend>
    {% include "includes/form_input.html" with id=form.position.id_for_label label=_("Position") name="job_title" type="text" value=form.job_title.value form_errors=form.job_title required=True %}

    {% include "includes/form_input.html" with id=form.type_material.id_for_label label=_("Type Material") name="type_material" type="text" value=form.type_material.value %}

    {% include "includes/form_input.html" with id=form.usage_material.id_for_label label=_("Usage Material") name="usage_material" type="number" value=form.usage_material.value|default:"0.0000" step=form.usage_material.field.widget.attrs.step form_errors=form.usage_material required=True %}

    {% include "includes/form_input.html" with id=form.standard_time.id_for_label label=_("Standard Time") name="standard_time" type="number" value=form.standard_time.value step=form.standard_time.field.widget.attrs.step form_errors=form.standard_time required=True %}

    {% include "includes/form_input.html" with id=form.price.id_for_label label=_("Price") name="price" type="number" value=form.price.value step=form.price.field.widget.attrs.step form_errors=form.price required=True %}
  </fieldset>
{% endblock %}