{% extends "forms/create_form.html" %}

{% block title %}Create Work{% endblock %}

{% block form_fields %}
  <fieldset class="space-y-4">
    <legend class="sr-only">Create Work Details</legend>
    {% include "includes/department_input_hidden.html" %}

    {% include "includes/form_input.html" with id="work_name" label="Work Name" name="work_name" type="text" value=form.work_name.value form_errors=form.work_name required=True %}

    {% include "includes/form_input.html" with id=form.type_material.id_for_label label="Type Material" name="type_material" type="text" value=form.type_material.value %}

    {% include "includes/form_input.html" with id=form.usage_material.id_for_label label="Usage Material" name="usage_material" type="number" value=form.usage_material.field.widget.attrs.value step="0.01" form_errors=form.usage_material required=True %}

    {% include "includes/form_input.html" with id=form.standard_time.id_for_label label="Standard Time" name="standard_time" type="number" value=form.standard_time.field.widget.attrs.value step="0.0001" form_errors=form.standard_time required=True %}

    {% include "includes/form_input.html" with id=form.price.id_for_label label="Price" name="price" type="number" value=form.price.field.widget.attrs.value step="0.01" form_errors=form.price required=True %}
  </fieldset>
{% endblock %}