/* Custom CSS for the application */

/* Modal border */
.modal-content {
  border-radius: 10px;
}

/* Sorting */
.sorting-arrows span {
  color: gray;
  font-size: 0.8em;
}
.sorting-arrows .active {
  color: white;
}
.sorting-link {
  color: white;
  text-decoration: none;
}
.sorting-link:hover {
  text-decoration: underline;
}
/* Department select styles */
.min-width-select {
  min-width: 170px;
}
/* Employee scrollable selection styles */
.scrollable-selection-employees {
  max-height: 325px; 
  overflow-y: auto;
}
/* Create table styles */
.create-table, 
.create-table th,
.create-table td {
  border: 1px solid #dee2e6;
  border-top: none;
  border-collapse: collapse
}
/* Sticky table header */
.sticky-table-header th {
  position: sticky;
  top: 0;
}
/* Work scrollable selection styles */
.scrollable-selection-works {
  max-height: 700px;
  overflow-y: auto;
}
