{% extends "base.html" %}
{% load i18n %}
{% block title %}Daily Work{% endblock %}
{% block content %}
    {% url 'daily_work_create' as create_url %}
    <!-- Header -->
    {% include "includes/components/list_header.html" with header_id="daily-work-list-title" title=selected_department create_url=create_url %}
    <div class="mb-2 flex flex-row items-center justify-between gap-2 md:mb-4 md:flex-col md:items-stretch md:gap-4">
        <div class="flex flex-row items-center justify-between gap-2 md:gap-4">
            <!-- Segmented  -->
            {% include "includes/components/view_mode_segmented.html" %}
            <!-- Export Excel -->
            <div class="hidden md:block">
                {% include "includes/export/export_excel_button.html" with url_name='daily_work_export_excel' params=request.GET aria_label="Download filtered daily works as Excel" %}
            </div>
        </div>
        <div class="flex flex-row items-center justify-end gap-2 md:justify-start md:gap-4">
            <!-- Delete -->
            {% if not is_employee and not is_master and detail_group %}
                {% include "includes/table_action_buttons/bulk_delete_button.html" %}
            {% endif %}
            <!-- Filters -->
            {% include "includes/table/list_table_filters.html" with toggle_id="daily-work-filters-toggle" panel_id="daily-work-filters-panel" fields_template="daily_work/daily_work_filters_fields.html" %}
            <!-- Export Excel Mobile -->
            <div class="md:hidden">
                {% include "includes/export/export_excel_button.html" with url_name='daily_work_export_excel' params=request.GET aria_label="Download filtered daily works as Excel" %}
            </div>
        </div>
    </div>
    <!-- Alerts -->
    {% include "includes/alerts/alerts.html" %}
    <!-- Summary -->
    {% if not is_employee and not is_master and detail_group %}
        {% include "includes/summaries/selected_summary.html" with summary_id="daily-work-summary" checkbox_name="daily_work_ids" %}
    {% endif %}
    <form method="post"
          id="bulkDeleteForm"
          action="{% url 'daily_work_delete_bulk' %}">
        {% csrf_token %}
        <!-- Table -->
        {% include "daily_work/daily_work_table/daily_work_table.html" %}
    </form>
    <!-- Pagination -->
    {% include "includes/table/pagination.html" %}
    <!-- Modals -->
    {% include "includes/modals/modal_delete_bulk.html" %}
{% endblock %}
