{% load i18n %}

<form method="get" class="mb-6" aria-labelledby="daily-work-list-title">
  <div class="flex flex-col md:flex-row gap-4">
    {% include "includes/filters/filter_input.html" with id="filter-work" label=_("Work Name") name="work_name" type="text" value=request.GET.work_name placeholder=_("Work Name") %}

    {% include "includes/filters/filter_select.html" with id="filter-job-title" label=_("Job Title") name="job_title" choices=job_titles selected=request.GET.job_title empty_label=_("Positions") %}

    {% include "includes/filters/filter_select.html" with id="filter-type-work" label=_("Type Work") name="type_work" choices=type_works selected=request.GET.type_work empty_label=_("Types") %}
    {% if selected_department in ALLOWED_WAGON_DEPARTMENTS %}
      {% include "includes/filters/filter_input.html" with id="filter-wagon-number" label=_("Wagon Number") name="wagon_number" value=request.GET.wagon_number %}
      
      {% include "includes/filters/filter_select.html" with id="filter-type-wagon" label=_("Type Wagon") name="type_wagon" choices=type_wagons selected=request.GET.type_wagon empty_label=_("Type Wagons") %}
    {% endif %}

    {% include "includes/filters/filter_date_range.html" with id="filter-range-date" label=_("Select Range of Date") name="range_date" type="text" value=request.GET.range_date %}

    {% include "includes/filters/filter_date.html" with id="filter-record-date" label=_("Record Date") name="record_date" type="text" value=request.GET.record_date %}

    {% include "includes/filters/filter_button.html" %}
  </div>
</form>