{% load static %}
<script type="module" src="{% static 'js/table_search-bundle.js' %}"></script>
<script type="module" src="{% static 'js/select_all-bundle.js' %}"></script>
<script type="module" src="{% static 'js/checkbox_validation-bundle.js' %}"></script>
<script type="module" src="{% static 'js/amount_inputs-bundle.js' %}"></script>
<script type="module" src="{% static 'js/amount_validation-bundle.js' %}"></script>
<script type="module" src="{% static 'js/duplicate_check-bundle.js' %}"></script>
<script type="module" src="{% static 'js/ensure_type_work-bundle.js' %}"></script>
<script type="module" src="{% static 'js/work_date_change-bundle.js' %}"></script>
<script type="module" src="{% static 'js/summary_selected-bundle.js' %}"></script>
<script type="module" src="{% static 'js/step_navigation-bundle.js' %}"></script>
