{% load i18n %}
{% with col_class="px-2 py-3 md:px-6" %}
    <td class="px-6 py-3 text-center align-middle">
        {% include "includes/create_table/create_select_row_checkbox.html" with row_id="work_{{ work.pk }}" checkbox_name="work_ids" row_value=work.pk aria_labelledby="label_work_{{ work.pk }}" extra_class="work-checkbox" work_name=work.work_name %}
    </td>
    <td class="{{ col_class }}">
        <label id="label_work_{{ work.pk }}"
               for="work_{{ work.pk }}"
               class="sr-only">{{ work.work_name }}</label>
        {% include "includes/table/mobile_meta.html" with col_name=work.work_name details_template="includes/create_table/works/works_details.html" %}
    </td>
    <td class="{{ col_class }} hidden md:table-cell">{{ work.job_title }}</td>
    {% if selected_department in ALLOWED_WAGON_DEPARTMENTS %}
        <td class="{{ col_class }} hidden md:table-cell">{{ work.type_wagon_display }}</td>
    {% endif %}
    <td class="{{ col_class }}">
        <label for="amount_{{ work.pk }}" class="sr-only">Amount for {{ work.work_name }}</label>
        {% include "includes/create_table/amount_input.html" %}
    </td>
{% endwith %}
