{% load i18n %}
<div class="employee-table-container mb-4 overflow-hidden rounded-md border border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-900">
    <div class="{{ max_height|default:'max-h-126' }} w-full overflow-x-auto overflow-y-auto">
        <table class="w-full bg-gray-50 text-left text-sm text-gray-500 dark:bg-gray-800 dark:text-gray-400"
               aria-describedby="daily-salary-list-title">
            {% include "includes/select_table/employees_select_table_head.html" %}
            {% include "includes/select_table/employees_select_table_row.html" %}
        </table>
    </div>
</div>
<div data-checkbox-validation="true"
     data-form-id="createForm"
     data-checkbox-name="employee_ids"
     data-table-selector=".employee-table-container"
     data-error-message="{{ _("Select at least one employee.") |escapejs }}"></div>
