{% load i18n %}
<thead class="bg-gray-100 text-left text-xs tracking-wide text-gray-700 uppercase dark:bg-gray-700 dark:text-gray-400">
    <tr class="sticky top-0 z-10 bg-gray-100 dark:bg-gray-700">
        {% with col_class="px-2 py-3 md:px-6" %}
            <th scope="col" class="px-6 py-3 text-center">
                {% include "includes/select_table/create_select_all_checkbox.html" with select_all_id="select-all-works" checkbox_name="work_ids" aria_label=_("Select all works") label=_("Select all") %}
            </th>
            <th scope="col" class="{{ col_class }}">{% trans "Work" %}</th>
            <th scope="col" class="{{ col_class }} hidden md:table-cell">{% trans "Position" %}</th>
            {% if selected_department in ALLOWED_WAGON_DEPARTMENTS %}
                <th scope="col" class="{{ col_class }} hidden md:table-cell">{% trans "Wagon Type" %}</th>
            {% endif %}
            <th scope="col" class="{{ col_class }}">{% trans "Amount" %}</th>
        {% endwith %}
    </tr>
</thead>
