{% load i18n %}
<div class="works-table-container mb-4 overflow-hidden rounded-md border border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-900">
    <div class="max-h-148 w-full overflow-x-auto overflow-y-auto">
        <table class="w-full bg-gray-50 text-left text-sm text-gray-500 dark:bg-gray-800 dark:text-gray-400"
               aria-describedby="daily-salary-list-title">
            {% include "includes/select_table/works_select_table_head.html" %}
            {% include "includes/select_table/works_select_table_row.html" %}
        </table>
    </div>
</div>
<div data-checkbox-validation="true"
     data-form-id="createForm"
     data-checkbox-name="work_ids"
     data-table-selector=".works-table-container"
     data-error-message="{{ _('Select at least one work.') |escapejs }}"
     data-amount-validation="true"
     data-amount-error-message="{{ _('Enter an amount for each selected work entry.') |escapejs }}"></div>
