{% load i18n %}

<form method="get" class="mb-6" aria-labelledby="employee-list-title">
    <div class="flex flex-col md:flex-row gap-4">
        {% if not is_employee %}
            {% include "includes/filters/filter_input.html" with id=form.employee_id.id_for_label label=_("Employee ID") name="employee_id" type="number" value=request.GET.employee_id min="1" %}
            {% include "includes/filters/filter_input.html" with id=form.employee_name.id_for_label label=_("Employee Name") name="employee_name" value=request.GET.employee_name %}
            {% include "includes/filters/filter_select.html" with id=form.job_title.id_for_label label=_("Job Title") name="job_title" choices=job_titles selected=request.GET.job_title empty_label=_("Positions") %}
            {% include "includes/filters/filter_button.html" %}
        {% endif %}
    </div>
</form>
