{% extends "forms/update_form.html" %}

{% block title %}Update Employee{% endblock %}

{% block form_fields %}
  <fieldset class="space-y-4">
    <legend class="sr-only">Update Employee Details</legend>
    {% include "includes/form_input.html" with id=form.name.id_for_label label=_("Name") name="name" type="text" value=form.name.value form_errors=form.name required=True placeholder=_("Full name of the employee") %}

    {% include "includes/form_select.html" with id="job_title" label=_("Position") name="job_title" choices=form.job_title.field.choices selected=form.job_title.value required=True %}

    {% include "includes/form_select.html" with id=form.rank.id_for_label label=_("Rank") name="rank" choices=form.rank.field.choices selected=form.rank.value %}

    {% include "includes/form_input.html" with id="money_per_hour" label=_("Hourly Wage") name="money_per_hour" type="number" value=form.money_per_hour.value step="0.01" required=True placeholder=_("According to rank") %}
  </fieldset>
{% endblock %}