{% extends "forms/update_form.html" %}

{% block title %}Update Employee{% endblock %}

{% block form_fields %}
  <fieldset class="space-y-4">
    <legend class="sr-only">Update Employee Details</legend>
    {% include "includes/form_input.html" with id=form.name.id_for_label label="Name" name="name" type="text" value=form.name.value form_errors=form.name required=True %}

    {% include "includes/form_input.html" with id=form.job_title.id_for_label label="Job Title" name="job_title" type="text" value=form.job_title.value form_errors=form.job_title required=True %}

    {% include "includes/form_select.html" with id=form.rank.id_for_label label="Rank" name="rank" choices=form.rank.field.choices selected=form.rank.value %}
  </fieldset>
{% endblock %}