{% extends "forms/create_form.html" %}

{% load i18n %}

{% block title %}Create Employee{% endblock %}

{% block form_fields %}
  <fieldset class="space-y-4">
    <legend class="sr-only">Create Employee Details</legend>
    {% include "includes/department_input_hidden.html" %}

    {% include "includes/form_input.html" with id="employee_id" label=_("Employee ID") name="employee_id" type="number" value=form.employee_id.value form_errors=form.employee_id required=True placeholder=_("Unique number (e.g. 1001)") %}

    {% include "includes/form_input.html" with id="name" label=_("Employee Name") name="name" type="text" value=form.name.value form_errors=form.name required=True placeholder=_("Full name of the employee") %}

    {% include "includes/form_select.html" with id="job_title" label=_("Position") name="job_title" choices=form.job_title.field.choices selected=form.job_title.value required=True %}

    {% include "includes/form_select.html" with id="rank" label=_("Employee Rank") name="rank" choices=form.rank.field.choices selected=form.rank.value required=True %}

    {% include "includes/form_input.html" with id="money_per_hour" label=_("Hourly Wage") name="money_per_hour" type="number" value=form.money_per_hour.value step="0.01" required=True placeholder=_("According to rank") %}
  </fieldset>
{% endblock %}