{% load i18n %}

<tr class="bg-blue-100 font-semibold dark:bg-blue-500/20">
  {% with col_class="px-6 py-3" %}
    <td class="{{ col_class }}">
      {% trans "Total" %}:
    </td>
    <td class="{{ col_class }}">
      {{ job_title}}
    </td>
    <td class="{{ col_class }}">
      {{ work_name }}
    </td>
    <td class="{{ col_class }}">
      {{ type_work }}
    </td>
    {% if selected_department in ALLOWED_WAGON_DEPARTMENTS %}
      <td class="{{ col_class }}">
        {{ wagon_number }}
      </td>
      <td class="{{ col_class }}">
        {{ type_wagon }}
      </td>
    {% endif %}
    <td class="{{ col_class }}">
      {{ totals.total_amount|default_if_none:"0.00" }}
    </td>
    <td class="{{ col_class }}">
      {{ totals.total_time|floatformat:2|default_if_none:"0.00" }}
    </td>
    <td class="{{ col_class }}">
      {{ totals.total_price|floatformat:2|default_if_none:"0.00" }}
    </td>
    <td class="{{ col_class }}">
      {{ work_date }}
    </td>
    {% if not is_employee %}
      <td class="{{ col_class }}">
        {{ record_date }}
      </td>
    {% endif %}
    {% if not is_employee and not is_master %}  
      <td class="{{ col_class }}"></td>
    {% endif %}
  {% endwith %}
</tr>