{% load i18n %}

<li class="relative">
  <button
    type="button"
    class="flex items-center justify-between gap-2 px-4 py-2 w-56 rounded-2xl text-sm font-medium text-gray-700 bg-gray-100 shadow transition hover:bg-gray-200 focus:outline-none focus:ring-0 mr-2 dark:bg-gray-900 dark:text-gray-500 dark:hover:bg-gray-700"
    id="department-dropdown-btn"
    aria-haspopup="true"
    aria-expanded="false"
    aria-controls="department-dropdown-menu"
  >
    {% if selected_department %}
      {{ selected_department }}
    {% else %}
      {% trans 'Department' %}
    {% endif %}
    <svg class="w-4 h-4" aria-hidden="true">
      <use href="#chevron-down"></use>
    </svg>
  </button>
  <ul
    class="absolute left-0 mt-2 w-56 bg-gray-50 border border-gray-100 rounded-md shadow-sm z-10 py-2 hidden dark:bg-gray-800 dark:border-gray-700 dark:text-gray-500"
    id="department-dropdown-menu"
    role="menu"
    tabindex="0"
  >
    {% for department in departments %}
      <li>
        <a
          href="{% url 'set_department' %}?department={{ department }}"
          class="block w-full px-4 py-2 text-sm hover:bg-gray-200 transition dark:hover:bg-gray-700 {% if department == selected_department %}font-bold text-gray-600 dark:text-gray-400{% endif %}"
          {% if department == selected_department %}aria-current="true"{% endif %}
        >
          {{ department }}
        </a>
      </li>
    {% endfor %}
  </ul>
</li>