<div class="flex flex-col">
  <label for="{{ id }}" class="sr-only">{{ label }}</label>
  <div class="flex">
    <span class="inline-flex items-center rounded-s-xl border border-gray-300 bg-gray-100 px-3 text-sm text-gray-700">
      {{ prefix }}
    </span>
    <input
      type="{{ type }}"
      name="{{ name }}"
      id="{{ id }}"
      class="block w-full rounded-r-xl border border-gray-300 border-l-0 bg-gray-100 px-4 py-2 text-sm text-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:border-gray-400 transition"
      placeholder="{{ placeholder|default:label }}"
      value="{{ value|default:'' }}"
      {% if min %}min="{{ min }}"{% endif %}
      {% if max %}max="{{ max }}"{% endif %}
      {% if step %}step="{{ step }}"{% endif %}
    >
  </div>
</div>