<!-- Error messages -->
{% if form.errors %}
  <div class="alert alert-danger" role="alert" aria-live="assertive">
    <h4 class="alert-heading">Error!</h4>
    <ul>
      {% for field, errors in form.errors.items %}
        <li>{{ errors|join:", " }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

<!-- Error messages block -->
{% if errors %}
  <div class="alert alert-danger" role="alert" aria-live="assertive">
    <h4 class="alert-heading">Error!</h4>
    <ul>
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}