{% load i18n %}

<div class="relative"> 
  <button
    type="button"
    class="flex items-center justify-center w-10 h-10 rounded-full text-sm font-medium text-gray-700 bg-gray-100 shadow transition hover:bg-gray-200 focus:outline-none focus:ring-0 mr-2"
    id="user-dropdown-btn"
    aria-haspopup="true"
    aria-expanded="false"
  >
    {{ request.user.get_full_name|default:request.user.username|slice:":1"|upper }}
  </button>
  <!-- Dropdown Menu -->
  <div
    class="absolute right-0 mt-2 w-40 bg-gray-50 rounded-md shadow-sm z-10 py-2 hidden"
    id="user-dropdown-menu"
    tabindex="0"
    role="menu"
  > 
    <!-- User Full Name or Username -->
    <div class="mx-2 mb-2 px-4 py-2 text-sm text-gray-700 font-medium text-center border border-gray-200 rounded-md bg-gray-100">
      {{ request.user.get_full_name|default:request.user.username }}
    </div>
    <!-- Password Change Link -->
    <a href="{% url 'password_change' %}" class="flex items-center gap-3 px-4 py-2 text-sm hover:bg-gray-200 transition">
      <svg class="w-5 h-5" aria-hidden="true">
        <use href="#key"></use>
      </svg>
      {% trans 'Password' %}
    </a>
    <!-- Sign Out Form -->
    <form action="{% url 'logout' %}" method="post" class="block">
      {% csrf_token %}
      <button
        type="submit"
        class="flex items-center gap-3 w-full px-4 py-2 text-sm hover:bg-gray-200 transition"
      >
        <svg class="w-5 h-5" aria-hidden="true">
          <use href="#singout"></use>
        </svg> 
        {% trans 'Sign Out' %}
      </button>
    </form>
    <!-- Language Switcher -->
    {% include "includes/language_switcher.html" %}
  </div>
</div>
