{% load i18n %}
{% if not is_employee and not is_master %}
    <td class="{{ col_class_checkbox }}">
        {% include "includes/table/list_select_row_checkbox.html" with checkbox_name="employee_table_ids" row_value=employee.pk row_label=employee.name %}
    </td>
{% endif %}
<td class="{{ col_class_hidden }}">{{ forloop.counter0|add:page_obj.start_index }}</td>
<td class="{{ col_class }}">{{ employee.employee_id }}</td>
<td class="{{ col_class }}">
    {% if not is_employee and not is_master %}
        {% include "includes/table/mobile_meta.html" with col_name=employee.name details_template="employee/employee_table/employee_table_mobile_details.html" %}
    {% else %}
        {% include "includes/table/mobile_summary.html" with col_name=employee.name details_template="employee/employee_table/employee_table_mobile_details.html" %}
    {% endif %}
</td>
<td class="{{ col_class_hidden }}">{{ employee.job_title }}</td>
<td class="{{ col_class_hidden }}">{{ employee.rank }}</td>
<td class="{{ col_class_hidden }}">{{ employee.money_per_hour|floatformat:2 }}</td>
{% if not is_employee and not is_master %}
    <td class="{{ col_class }}">
        {% if employee.is_active %}
            {% url 'employee_deactivate' employee.pk as deactivate_url %}
        {% else %}
            {% url 'employee_activate' employee.pk as activate_url %}
        {% endif %}
        {% include "includes/table_action_buttons/action_buttons.html" with id=employee.employee_id name=employee deactivate_url=deactivate_url activate_url=activate_url show_activation=True is_active=employee.is_active %}
    </td>
{% endif %}
