{% load i18n %}
<form method="get" aria-labelledby="material-list-title">
    {% include "includes/filters/filter_toggle.html" with toggle_id="material-filters-toggle" panel_id="material-filters-panel" %}
    <div id="material-filters-panel"
         class="fixed inset-x-0 bottom-0 z-50 hidden max-h-[80vh] translate-y-full overflow-y-auto rounded-t-2xl bg-white p-4 shadow-2xl transition-transform duration-200 lg:static lg:inset-auto lg:bottom-auto lg:z-auto lg:block lg:max-h-none lg:translate-y-0 lg:rounded-none lg:bg-inherit lg:p-0 lg:shadow-none dark:bg-gray-900 lg:dark:bg-inherit">
        <div class="flex flex-col gap-2 md:flex-row">
            {% include "includes/filters/filter_input.html" with id="id_type_material" label=_("Material Type") name="type_material" type="text" value=request.GET.type_material %}
            {% include "includes/filters/filter_input.html" with id="id_work_name" label=_("Work Name") name="work_name" type="text" value=request.GET.work_name %}
            {% include "includes/filters/filter_date_range.html" with id="id_range_date" label=_("Date Range") name="range_date" type="text" value=request.GET.range_date %}
            {% include "includes/filters/filter_button.html" %}
        </div>
    </div>
</form>
