{% extends "base.html" %}

{% load static %}

{% load i18n %}

{% block title %}Material{% endblock %}

{% block content %}

  <!-- Header -->
  <div class="flex flex-col sm:flex-row justify-between mb-6 items-center gap-4">
    <h2 id="material-list-title" class="text-lg text-gray-700 font-semibold dark:text-gray-400">{% trans "Material" %}</h2>
  </div>

  <!-- Filter Form -->
  {% include "material/material_filters.html" %}

  <!-- Material Table -->
  <div class="overflow-x-auto rounded-md border border-gray-200 bg-white shadow-sm dark:bg-gray-900 dark:border-gray-700">
    <table class="w-full text-left text-sm text-gray-500 bg-gray-50 dark:bg-gray-800 dark:text-gray-400" aria-describedby="employee-list-title">
      <thead class="bg-gray-100 text-left text-xs text-gray-700 uppercase tracking-wide dark:bg-gray-700 dark:text-gray-400">
        <tr>
          {% with col_class="px-6 py-3" %}
            <th scope="col" class="{{ col_class }}">#</th>
            <th scope="col" class="{{ col_class }}">{% trans "Material" %}</th>
            <th scope="col" class="{{ col_class }}">{% trans "Work" %}</th>
            <th scope="col" class="{{ col_class }}">{% trans "Amount" %}</th>
            <th scope="col" class="{{ col_class }}">
              {% include "includes/order_by_column.html" with label=_("Date") field="work_date" col_class=col_class selected_department=selected_department %}
            </th>
          {% endwith %}
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-100 dark:divide-gray-700">
        {% for dw in daily_works %}
          <tr class="odd:bg-white hover:bg-gray-200 dark:odd:bg-gray-900 dark:hover:bg-gray-600">
            {% with col_class="px-6 py-3" %}
              <td class="{{ col_class }}">{{ forloop.counter0|add:page_obj.start_index }}</td>
              <td class="{{ col_class }}">{{ dw.work__type_material }}</td>
              <td class="{{ col_class }}">{{ dw.work__work_name }}</td>
              <td class="{{ col_class }}">{{ dw.amount_material|floatformat:2 }}</td>
              <td class="{{ col_class }}">{{ dw.work_date|date:"Y-m-d" }}</td>
            {% endwith %}
          </tr>
        {% endfor %}
        {% if daily_works|length == 0 %}
          <tr>
            <td colspan="5" class="text-center px-3 py-4 text-gray-500 dark:text-gray-400">{% trans "No materials found..." %}</td>
          </tr>
        {% endif %}
          {% include "material/material_total_row.html" %}
      </tbody>
    </table>
  </div>

  <!-- Pagination -->
  <nav aria-label="Materials pagination" class="mt-6">
    {% include "includes/pagination.html" %}
  </nav>

  <!-- Export Button Excel -->
  <div class="flex gap-2 w-24 mt-4 mb-4">
    {% include "includes/export/export_excel_button.html" with url_name='material_export_excel' params=filters aria_label=_("Download filtered materials as Excel") %}
  </div>

{% endblock %}