<div class="sm:hidden">
  <p class="mb-1 text-center text-sm text-gray-500 opacity-70">
    {{ page_obj.start_index }} - {{ page_obj.end_index }} / {{ page_obj.paginator.count }}
  </p>
  <div class="flex items-center justify-center gap-2">
    <!-- Previous page button -->
    {% if page_obj.has_previous %}
      <a
        class="inline-flex size-12 items-center justify-center rounded-md border border-gray-300 bg-white text-gray-500 transition hover:bg-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700"
        href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&amp;{{ key }}={{ value }}{% endif %}{% endfor %}"
        aria-label="Previous page"
      >
        <svg class="size-6" aria-hidden="true">
          <use href="#chevron-left"></use>
        </svg>
      </a>
    {% else %}
      <span
        class="inline-flex size-12 cursor-not-allowed items-center justify-center rounded-md border border-gray-200 bg-gray-100 text-gray-400 dark:border-gray-600 dark:bg-gray-700 dark:text-gray-500"
      >
        <svg class="size-6" aria-hidden="true">
          <use href="#chevron-left"></use>
        </svg>
      </span>
    {% endif %}
    <!-- Current page button -->
    <span
      class="inline-flex size-12 items-center justify-center rounded-md border border-gray-500 bg-gray-200 px-3 text-sm font-semibold text-gray-500 dark:border-gray-600 dark:bg-gray-700 dark:text-gray-500"
      aria-current="page"
      >{{ page_obj.number }}</span
    >
    <!-- Next page button -->
    {% if page_obj.has_next %}
      <a
        class="inline-flex size-12 items-center justify-center rounded-md border border-gray-300 bg-white text-gray-500 transition hover:bg-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-gray-400 dark:hover:bg-gray-700"
        href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&amp;{{ key }}={{ value }}{% endif %}{% endfor %}"
        aria-label="Next page"
      >
        <svg class="size-6" aria-hidden="true">
          <use href="#chevron-right"></use>
        </svg>
      </a>
    {% else %}
      <span
        class="inline-flex size-12 cursor-not-allowed items-center justify-center rounded-md border border-gray-200 bg-gray-100 text-gray-400 dark:border-gray-600 dark:bg-gray-700 dark:text-gray-500"
      >
        <svg class="size-6" aria-hidden="true">
          <use href="#chevron-right"></use>
        </svg>
      </span>
    {% endif %}
  </div>
</div>
