{% load i18n %}
<div>{{ daily_work.job_title }}</div>
<div>{{ daily_work.type_work }}</div>
{% if show_wagon %}
    <div>{{ daily_work.type_wagon_display }}</div>
    <div>{{ daily_work.wagon_number_display|default:"-" }}</div>
{% endif %}
<div>
    <span>{% trans "amount:" %}</span> {{ daily_work.total_amount }}
</div>
<div>
    <span>{% trans "time:" %}</span>
    {{ daily_work.total_time|floatformat:2 }}
</div>
<div>
    <span>{% trans "price:" %}</span>
    {{ daily_work.total_price|floatformat:2 }}
</div>
