{% load i18n %}
{% if detail_group %}
  {% if perms.employee.change_dailywork or perms.employee.delete_dailywork %}
    <th scope="col" class="{{ col_class_checkbox }}">
      {% include "includes/table/list_select_all_checkbox.html" with select_all_id="select-all-daily-works" checkbox_name="daily_work_ids" %}
    </th>
  {% endif %}
{% endif %}
<th scope="col" class="{{ col_class_hidden }}">#</th>
<th scope="col" class="{{ col_class }}">{% trans "Work" %}</th>
<th scope="col" class="{{ col_class_hidden }}">{% trans "Position" %}</th>
<th scope="col" class="{{ col_class_hidden }}">{% trans "Work Type" %}</th>
{% if show_wagon %}
  <th scope="col" class="{{ col_class_hidden }}">{% trans "Wagon Type" %}</th>
  <th scope="col" class="{{ col_class_hidden }}">{% trans "Wagon Number" %}</th>
{% endif %}
<th scope="col" class="{{ col_class_hidden }}">{% trans "Amount" %}</th>
<th scope="col" class="{{ col_class_hidden }}">{% trans "Time" %}</th>
<th scope="col" class="{{ col_class_hidden }}">{% trans "Price" %}</th>
{% if month_group %}
  <th scope="col" class="{{ col_class }}">
    {% include "includes/table/sort_column.html" with label=_("Month") field="month" col_class=col_class selected_department=selected_department htmx_target="#daily-work-list-results" %}
  </th>
  <th scope="col" class="{{ col_class }}">
    {% include "includes/table/sort_column.html" with label=_("Year") field="year" col_class=col_class selected_department=selected_department htmx_target="#daily-work-list-results" %}
  </th>
{% elif year_group %}
  <th scope="col" class="{{ col_class }}">
    {% include "includes/table/sort_column.html" with label=_("Year") field="year" col_class=col_class selected_department=selected_department htmx_target="#daily-work-list-results" %}
  </th>
{% else %}
  <th scope="col" class="{{ col_class }}">
    {% include "includes/table/sort_column.html" with label=_("Date") field="work_date" col_class=col_class selected_department=selected_department htmx_target="#daily-work-list-results" %}
  </th>
  {% if perms.employee.view_record_audit %}
    <th scope="col" class="{{ col_class }}">
      {% include "includes/table/sort_column.html" with label=_("Record Date") field="record_date" col_class=col_class selected_department=selected_department htmx_target="#daily-work-list-results" %}
    </th>
  {% endif %}
{% endif %}
