{% load i18n %}
{% load humanize %}
{% if detail_group and perms.employee.change_dailywork or detail_group and perms.employee.delete_dailywork %}
  <td class="{{ col_class }}"></td>
{% endif %}
<td class="{{ col_class_hidden }}">{{ forloop.counter0|add:page_obj.start_index }}</td>
<td class="{{ col_class }}">
  {% include "includes/table/mobile_summary.html" with col_name=row.work_name details_template="daily_work/daily_work_table/daily_work_mobile_details_grouped.html" %}
</td>
<td class="{{ col_class_hidden }}">{{ row.job_title }}</td>
<td class="{{ col_class_hidden }}">{{ row.type_work }}</td>
{% if show_wagon %}
  <td class="{{ col_class_hidden }}">{{ row.type_wagon|default:"-" }}</td>
  <td class="{{ col_class_hidden }}">{{ row.wagon_number|default:"-" }}</td>
{% endif %}
<td class="{{ col_class_hidden }}">{{ row.total_amount }}</td>
<td class="{{ col_class_hidden }}">{{ row.total_time|floatformat:2 }}</td>
<td class="{{ col_class_hidden }}">{{ row.total_price|floatformat:2|intcomma }}</td>
{% if month_group %}
  <td class="{{ col_class }}">{{ row.month }}</td>
  <td class="{{ col_class }}">{{ row.year }}</td>
{% else %}
  <td class="{{ col_class }}">{{ row.year }}</td>
{% endif %}
