{% load static %}
{% load i18n %}
<div id="deleteModal"
     class="fixed inset-0 z-50 hidden"
     aria-labelledby="deleteModalLabel"
     aria-modal="true"
     role="dialog">
    <div class="absolute inset-0 bg-black/50" data-modal-cancel>
        <div class="absolute inset-0 grid place-items-center">
            <div class="max-h-screen w-full max-w-md overflow-y-auto rounded-lg bg-white p-6 shadow-lg dark:border-gray-700 dark:bg-gray-800"
                 tabindex="0">
                <h3 class="mb-2 text-lg font-semibold text-gray-700 dark:text-gray-400"
                    id="deleteModalLabel">{% trans "Delete" %}</h3>
                <p class="mb-4 text-sm text-gray-700 dark:text-gray-400">
                    {% blocktrans trimmed %}
                        Are you sure you want to delete
                        <strong id="deleteDetails"></strong>?
                        <br />
                        All associated records must be deleted first.
                    {% endblocktrans %}
                </p>
                <form method="post" id="deleteForm">
                    <div class="flex justify-end gap-2">
                        {% csrf_token %}
                        {% include "includes/buttons/modal_cancel_button.html" %}
                        {% include "includes/buttons/modal_delete_button.html" %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
