{% load i18n %}
<td class="{{ col_class_hidden }}">{{ forloop.counter0|add:page_obj.start_index }}</td>
<td class="{{ col_class }}">{{ employee_salary.employee.employee_id }}</td>
<td class="{{ col_class }}">
    {% include "includes/table/mobile_summary.html" with col_name=employee_salary.employee.name details_template="employee_salary/employee_salary_table/employee_salary_table_mobile_details.html" %}
</td>
<td class="{{ col_class_hidden }}">{{ employee_salary.employee.job_title }}</td>
<td class="{{ col_class_hidden }}">{{ employee_salary.employee.rank }}</td>
{% if wagon_mode %}
    <td scope="col" class="{{ col_class }}">{{ employee_salary.wagon_number|default_if_none:"-" }}</td>
{% endif %}
<td class="{{ col_class_hidden }}">{{ employee_salary.total_piecework_time|floatformat:2 }}</td>
<td class="{{ col_class }}">{{ employee_salary.total_piecework_amount|floatformat:2 }}</td>
<td class="{{ col_class }}">{{ employee_salary.month }}</td>
<td class="{{ col_class }}">{{ employee_salary.year }}</td>
