{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}Create {{ object_type }}{% endblock %}
{% block content %}
    <h2 id="form-title"
        class="mb-6 hidden text-xl font-semibold text-gray-700 md:block dark:text-gray-400">
        {% trans "New" %} {{ object_type }} ({{ selected_department }})
    </h2>
    <!-- Form Errors -->
    {% include "includes/form/form_errors.html" %}
    <!-- Dynamic Message for Piecework -->
    {% block form_alert %}{% endblock %}
    <form method="post"
          class="relative rounded-md border border-gray-100 bg-white p-6 shadow-md dark:border-gray-700 dark:bg-gray-800"
          id="createForm"
          aria-labelledby="form-title"
          novalidate>
        {% csrf_token %}
        <!-- Form fields will be provided by child templates -->
        {% block form_fields %}{% endblock %}
        <div class="mt-6 flex flex-col gap-2 sm:flex-row">
            {% include "includes/buttons/cancel_button.html" %}
            {% include "includes/buttons/save_button.html" %}
        </div>
    </form>
{% endblock %}
