{% extends "base.html" %}

{% load static %}

{% block title %}Create {{ object_type }}{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<h2 id="form-title">Create a new {{ object_type }}</h2>

<!-- Error messages -->
{% if form.errors %}
  <div class="alert alert-danger" role="alert" aria-live="assertive">
    <h4 class="alert-heading">Error!</h4>
    <ul>
      {% for field, errors in form.errors.items %}
        <li>{{ errors|join:", " }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
<!-- Error messages block -->
{% if errors %}
  <div class="alert alert-danger" role="alert" aria-live="assertive">
    <h4 class="alert-heading">Error!</h4>
    <ul>
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}

<!-- Dynamic Message for Piecework -->
{% block form_alert %}
{% endblock %}

<form method="post" class="form-horizontal card p-4" id="create_form" aria-labelledby="form-title" novalidate>
  {% csrf_token %}

  <!-- Form fields -->
  {% block form_fields %}
  {% endblock %}
  <div class="form-group row mb-3">
    <div class="col-sm-10 offset-sm-2">
      <button type="submit" class="btn btn-primary">Save</button>
      <a href="{{ cancel_url }}" class="btn btn-secondary">Cancel</a>
    </div>
  </div>
</form>

<!-- JavaScript for form navigation -->
<script src="{% static 'js/create_form_navigation.js' %}"></script>

{% endblock %}