{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}Create {{ object_type }}{% endblock %}
{% block content %}
    <h2 id="form-title"
        class="mb-6 hidden text-xl font-semibold text-gray-700 md:block dark:text-gray-400">
        {% trans "New" %} {{ object_type }} ({{ selected_department }})
    </h2>
    <!-- Form Errors -->
    {% include "includes/form/form_errors.html" %}
    <!-- Dynamic Message for Piecework -->
    {% block form_alert %}{% endblock %}
    <form method="post"
          class="rounded-md border border-gray-100 bg-white p-6 shadow-md dark:border-gray-700 dark:bg-gray-800"
          id="createForm"
          aria-labelledby="form-title"
          novalidate>
        {% csrf_token %}
        <!-- Form fields will be provided by child templates -->
        {% block form_fields %}{% endblock %}
        <div class="mt-6 flex flex-col gap-2 sm:flex-row">
            <button type="submit"
                    class="cursor-pointer rounded-md bg-blue-700 px-6 py-2 font-semibold text-white shadow transition hover:bg-blue-800 focus:ring-2 focus:ring-blue-400 focus:outline-none"
                    aria-label="Save new {{ object_type }}">{% trans "Save" %}</button>
            <a href="{{ cancel_url }}"
               class="cursor-pointer rounded-md bg-gray-100 px-6 py-2 text-center font-semibold text-gray-700 shadow transition hover:bg-gray-200 focus:ring-2 focus:ring-gray-400 focus:outline-none dark:bg-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-500"
               aria-label="Cancel and return">{% trans "Cancel" %}</a>
        </div>
    </form>
{% endblock %}
