{% load i18n %}
{% load querystring %}

<div class="mb-3 md:flex-row gap-4 flex flex-col">
    <div class="flex flex-col">
        <span class="sr-only">{% trans "View" %}</span>
        <div class="inline-flex rounded-xl border border-gray-300 bg-gray-100 p-1 dark:bg-gray-800 dark:border-gray-600">
            <a href="{% querystring group='' page=None wagon_number=None %}"
               class=" px-4 py-2 text-sm font-medium rounded-lg transition {% if group != GROUP_WAGON %} bg-white text-gray-700 shadow-sm dark:bg-gray-900 dark:text-gray-400 {% else %} text-gray-500 hover:bg-gray-200 dark:text-gray-500 dark:hover:bg-gray-700 {% endif %} "
               {% if group != GROUP_WAGON %}aria-current="page"{% endif %}>
                {% trans "Full" %}
            </a>
            {% if selected_department in ALLOWED_WAGON_DEPARTMENTS %}
                <a href="{% querystring group=GROUP_WAGON page=None %}"
                   class=" px-4 py-2 text-sm font-medium rounded-lg transition {% if group == GROUP_WAGON %} bg-white text-gray-700 shadow-sm dark:bg-gray-900 dark:text-gray-400 {% else %} text-gray-500 hover:bg-gray-200 dark:text-gray-500 dark:hover:bg-gray-700 {% endif %} "
                   {% if group == GROUP_WAGON %}aria-current="page"{% endif %}>
                    {% trans "Wagon" %}
                </a>
            {% endif %}
        </div>
    </div>
</div>
