{% extends "forms/update_form.html" %}

{% block title %}Update Piecework{% endblock %}

{% block form_fields %}
  <fieldset class="space-y-4">
    <legend class="sr-only">Update Piecework Details</legend>
    {% include "includes/form_select.html" with id=form.type_work.id_for_label label="Type Work" name="type_work" choices=form.type_work.field.choices selected=form.type_work.value required=True %}

    {% include "includes/form_input.html" with id=form.amount.id_for_label label="Amount" name="amount" type="number" value=form.amount.value form_errors=form.amount required=True %}
    
    {% include "includes/form_date.html" with id=form.work_date.id_for_label label="Work Date" name="work_date" type="text" value=form.work_date.value|date:"Y-m-d" form_errors=form.work_date required=True %}
  </fieldset>
{% endblock %}