{% load i18n %}

<tr class="bg-blue-100 font-semibold dark:bg-blue-500/20">
  {% with col_class="px-6 py-3" %}
    <td class="{{ col_class }}">{% trans "Total" %}:</td>
    
    <td class="{{ col_class }}">{{ employee_id|default:"" }}</td>
    <td class="{{ col_class }}">{{ employee_name|default:"" }}</td>
    <td class="{{ col_class }}">{{ job_title|default:"" }}</td>
    <td class="{{ col_class }}">{{ work_name|default:"" }}</td>
    <td class="{{ col_class }}">{{ type_work|default:"" }}</td>

    {% if selected_department in ALLOWED_WAGON_DEPARTMENTS %}
      <td class="{{ col_class }}">{{ type_wagon|default:"" }}</td>
      <td class="{{ col_class }}">{{ wagon_number|default:"" }}</td>
    {% endif %}

    <td class="{{ col_class }}">{{ totals.total_amount|default_if_none:"0.00" }}</td>
    <td class="{{ col_class }}">{{ totals.total_time|floatformat:2|default_if_none:"0.00" }}</td>
    <td class="{{ col_class }}">{{ totals.total_price|floatformat:2|default_if_none:"0.00" }}</td>

    {% if group == GROUP_MONTH %}
      <td class="{{ col_class }}">{{ month|default:"" }}</td>
      <td class="{{ col_class }}">{{ year|default:"" }}</td>
    {% elif group == GROUP_YEAR %}
      <td class="{{ col_class }}">{{ selected_year |default:"" }}</td>
    {% else %}
      <td class="{{ col_class }}">{{ range_date|default:"" }}</td>
      {% if not is_employee %}
        <td class="{{ col_class }}">{{ record_date|default:"" }}</td>
      {% endif %}
    {% endif %}
  {% endwith %}
</tr>