{% load i18n %}
<form method="get" aria-labelledby="piecework-list-title">
    <input type="hidden" name="group" value="{{ group|default:'' }}" />
    {% include "includes/filters/filter_toggle.html" with toggle_id="piecework-filters-toggle" panel_id="piecework-filters-panel" %}
    <div id="piecework-filters-panel"
         class="fixed inset-x-0 bottom-0 z-50 hidden max-h-[80vh] translate-y-full overflow-y-auto rounded-t-2xl bg-white p-4 shadow-2xl transition-transform duration-200 lg:static lg:inset-auto lg:bottom-auto lg:z-auto lg:block lg:max-h-none lg:translate-y-0 lg:rounded-none lg:bg-inherit lg:p-0 lg:shadow-none dark:bg-gray-900 lg:dark:bg-inherit">
        <div class="flex flex-col gap-2 md:flex-row">
            {% if not is_employee %}
                {% include "includes/filters/filter_input.html" with id="id_employee_id" label=_("Employee ID") name="employee_id" type="number" value=request.GET.employee_id min="1" %}
                {% include "includes/filters/filter_input.html" with id="id_employee_name" label=_("Employee Name") name="employee_name" value=request.GET.employee_name %}
                {% include "includes/filters/filter_select.html" with id="id_job_title" label=_("Job Title") name="job_title" choices=job_titles selected=request.GET.job_title empty_label=_("Positions") %}
            {% endif %}
            {% include "includes/filters/filter_input.html" with id="id_work_name" label=_("Work Name") name="work_name" type="text" value=request.GET.work_name placeholder=_("Work Name") %}
            {% include "includes/filters/filter_select.html" with id="id_type_work" label=_("Work Type") name="type_work" choices=type_works selected=request.GET.type_work empty_label=_("Work Types") %}
            {% if show_wagon %}
                {% include "includes/filters/filter_select.html" with id="id_type_wagon" label=_("Wagon Type") name="type_wagon" choices=type_wagons selected=request.GET.type_wagon empty_label=_("Wagon Types") %}
                {% include "includes/filters/filter_input.html" with id="id_wagon_number" label=_("Wagon Number") name="wagon_number" value=request.GET.wagon_number %}
            {% endif %}
            {% if month_group %}
                {% include "includes/filters/filter_month.html" with id="id_month_period" label=_("Month/Year") name="month_period" value=request.GET.month_period %}
            {% elif year_group %}
                {% include "includes/filters/filter_select.html" with id="id_year" label=_("Year") name="year" choices=years selected=request.GET.year empty_label=_("Years") %}
            {% else %}
                {% include "includes/filters/filter_date_range.html" with id="id_range_date" label=_("Date Range") name="range_date" type="text" value=request.GET.range_date %}
                {% if not is_employee %}
                    {% include "includes/filters/filter_date.html" with id="id_record_date" label=_("Record Date") name="record_date" type="text" value=request.GET.record_date %}
                {% endif %}
            {% endif %}
            {% include "includes/filters/filter_button.html" %}
        </div>
    </div>
</form>
