<!-- Reusable warning shown on update pages to inform that updating an object will also update all related records. -->
{% load i18n %}

<div class="relative w-full mb-4 flex items-start rounded-md shadow-sm bg-yellow-50 p-4 text-yellow-800 transition-opacity duration-300 dark:bg-yellow-500/20 dark:text-yellow-400"
     role="alert"
     aria-live="polite">
    <div>
        <h4 class="font-semibold mb-1">{% trans "Warning" %}!</h4>
        <p class="text-sm">
            {% blocktrans trimmed with object_type=object_type object_name=object_name %}
                All records associated with this {{ object_type }} <strong>{{ object_name }}</strong> will also be updated.
            {% endblocktrans %}
        </p>
    </div>
    <button type="button"
            class="absolute cursor-pointer right-2 top-2 p-1 rounded hover:bg-yellow-100 focus:outline-none focus:ring-2 focus:ring-yellow-400 transition dark:hover:bg-yellow-200/10"
            onclick="this.closest('[role=alert]').classList.add('hidden')"
            aria-label="Close">
        <svg class="w-5 h-5" aria-hidden="true">
            <use href="#close"></use>
        </svg>
    </button>
</div>
