{% load i18n %}
<div>{{ piecework.job_title }}</div>
<div>{{ piecework.type_work }}</div>
{% if show_wagon %}
    <div>{{ piecework.type_wagon_display }}</div>
    <div>{{ piecework.wagon_number_display|default:"-" }}</div>
{% endif %}
<div>
    <span>{% trans "amount:" %}</span> {{ piecework.total_amount }}
</div>
<div>
    <span>{% trans "time:" %}</span>
    {{ piecework.total_time|floatformat:2 }}
</div>
<div>
    <span>{% trans "price:" %}</span>
    {{ piecework.total_price|floatformat:2 }}
</div>
