{% load i18n %}
<td class="{{ col_class_hidden }}">{{ forloop.counter0|add:page_obj.start_index }}</td>
<td class="{{ col_class }}">{{ piecework.employee.employee_id }}</td>
<td class="{{ col_class }}">
    {% include "includes/table/mobile_summary.html" with col_name=piecework.employee.name details_template="piecework/piecework_table/piecework_mobile_details.html" %}
</td>
<td class="{{ col_class_hidden }}">{{ piecework.job_title }}</td>
<td class="{{ col_class }}">{{ piecework.work.work_name }}</td>
<td class="{{ col_class_hidden }}">{{ piecework.type_work }}</td>
{% if show_wagon %}
    <td class="{{ col_class_hidden }}">{{ piecework.type_wagon_display }}</td>
    <td class="{{ col_class_hidden }}">{{ piecework.wagon_number_display|default:"-" }}</td>
{% endif %}
<td class="{{ col_class_hidden }}">{{ piecework.amount }}</td>
<td class="{{ col_class_hidden }}">{{ piecework.amount_time|floatformat:2 }}</td>
<td class="{{ col_class_hidden }}">{{ piecework.amount_price|floatformat:2 }}</td>
<td class="{{ col_class }}">{{ piecework.work_date|date:"Y-m-d" }}</td>
{% if not is_employee %}<td class="{{ col_class }}">{{ piecework.record_date|date:"Y-m-d H:i" }}</td>{% endif %}
