{% load i18n %}
<form method="get" aria-labelledby="employee-salary-list-title">
    <input type="hidden" name="group" value="{{ group|default:'' }}" />
    {% include "includes/filters/filter_toggle.html" with toggle_id="employee-salary-filters-toggle" panel_id="employee-salary-filters-panel" %}
    <div id="employee-salary-filters-panel"
         class="fixed inset-x-0 bottom-0 z-50 hidden max-h-[80vh] translate-y-full overflow-y-auto rounded-t-2xl bg-white p-4 shadow-2xl transition-transform duration-200 md:static md:inset-auto md:bottom-auto md:z-auto md:block md:max-h-none md:translate-y-0 md:rounded-none md:bg-inherit md:p-0 md:shadow-none dark:bg-gray-900 md:dark:bg-inherit">
        <div class="flex flex-col gap-2 md:flex-row">
            {% if not is_employee %}
                {% include "includes/filters/filter_input.html" with id="id_employee_id" label=_("Employee ID") name="employee_id" type="number" value=request.GET.employee_id min="1" %}
                {% include "includes/filters/filter_input.html" with id="id_employee_name" label=_("Employee Name") name="employee_name" value=request.GET.employee_name %}
                {% include "includes/filters/filter_select.html" with id="id_job_title" label=_("Job Title") name="job_title" choices=job_titles selected=request.GET.job_title empty_label=_("Positions") %}
            {% endif %}
            {% if wagon_mode %}
                {% include "includes/filters/filter_input.html" with id="id_wagon_number" label=_("Wagon Number") name="wagon_number" value=request.GET.wagon_number %}
            {% endif %}
            {% include "includes/filters/filter_month.html" with id="id_month_period" label=_("Month/Year") name="month_period" value=request.GET.month_period %}
            {% include "includes/filters/filter_button.html" %}
        </div>
    </div>
</form>
